<!DOCTYPE html>
<html lang="en" ng-app="ToDo">

<title>To do List </title>

<head>
    <meta charset="UTF-8" />
    <style>
        .done {
            text-decoration: line-through;
            color: cadetblue
        }
    </style>

    <script src="js/angular.min.js"></script>

    <script src="js/jquery.min.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script src="js/app.js"></script>


    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/components.css">

</head>

<body>
    <h1>To Do List</h1>
    <center>
        <quote> Minhas coisas para fazer </quote>
    </center>

    <div ng-controller="todoController">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{completedPerCent()}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( completedPerCent() + '%' ) }">
                <span ng-show="completedPerCent() > 0">Progress({{completedPerCent()}}%)</span>
            </div>
        </div>
        <form name="frm" ng-submit="addTodo()">
            <input type="text" name="newtodo" ng-model="newTodo" required />
            <button ng-disabled="frm.$invalid">Go</button>
        </form>
        <br>
        <button ng-click="clearCompleted()"> Limpar completadas </button>
        <button ng-click="clearAll()"> Limpar lista </button>
        <ul>
            <br>
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done" />
                <span ng-class="{'done' :todo.done}">{{todo.title}}</span>
            </li>

        </ul>
    </div>

    <h2> Personalização </h2>
    <menu>
        <changecolor>
            Escolha a cor da página:
            <input type="button" onClick="changeColor('lightgreen')" value="Verde claro" />
            <input type="button" onClick="changeColor('black')" value="Preto" />
            <input type="button" onClick="changeColor('')" value="Reset Color" />
        </changecolor>
        <br>
        <br>
        <input type="button" value="Meu GitHub" onclick="window.open('https://github.com/ViniciusMSoares')" />
    </menu>
    <center>
        <credits>Made by Vinícius Soares for Information Systems I UFCG</credits>
    </center>

</body>

</html>