body {
    background-color: whitesmoke;
}

h1 {
    color: cadetblue;
    text-align: center;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

quote {
    color: cadetblue;
    font-family:  Verdana, Helvetica, sans-serif;
    font-size: 20px;
}

div {
    color: cadetblue;
    text-align: center;
    font-family:  Verdana, Helvetica, sans-serif;
    font-size: 20px;
    list-style-position: inside;
}

h2 {
    color: cadetblue;
    text-align: center;
    font-family:  Verdana, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

menu {
    color: cadetblue;
    text-align: center;
    font-family:  Verdana, Helvetica, sans-serif;
    font-size: 20px;
}

credits {
    color: cadetblue;
    text-align: center;
}